<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.goodsManager.dao.GmPromotionDao">

	<select id="get" resultType="com.bootdo.goodsManager.domain.GmPromotionDO">
		select `id`,`user_id`,`old_dept`,`new_dept`,`promotion_time`,`notice_status`,`type`,`other`,`remark` from gm_promotion where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.goodsManager.domain.GmPromotionDO">
		select `id`,`user_id`,`old_dept`,`new_dept`,`promotion_time`,`notice_status`,`type`,`other`,`remark` from gm_promotion
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="oldDept != null and oldDept != ''"> and old_dept = #{oldDept} </if>
		  		  <if test="newDept != null and newDept != ''"> and new_dept = #{newDept} </if>
		  		  <if test="promotionTime != null and promotionTime != ''"> and promotion_time = #{promotionTime} </if>
		  		  <if test="noticeStatus != null and noticeStatus != ''"> and notice_status = #{noticeStatus} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="other != null and other != ''"> and other = #{other} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from gm_promotion
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="oldDept != null and oldDept != ''"> and old_dept = #{oldDept} </if>
		  		  <if test="newDept != null and newDept != ''"> and new_dept = #{newDept} </if>
		  		  <if test="promotionTime != null and promotionTime != ''"> and promotion_time = #{promotionTime} </if>
		  		  <if test="noticeStatus != null and noticeStatus != ''"> and notice_status = #{noticeStatus} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="other != null and other != ''"> and other = #{other} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.goodsManager.domain.GmPromotionDO" useGeneratedKeys="true" keyProperty="id">
		insert into gm_promotion
		(
			`user_id`, 
			`old_dept`, 
			`new_dept`, 
			`promotion_time`, 
			`notice_status`, 
			`type`, 
			`other`, 
			`remark`
		)
		values
		(
			#{userId}, 
			#{oldDept}, 
			#{newDept}, 
			#{promotionTime}, 
			#{noticeStatus}, 
			#{type}, 
			#{other}, 
			#{remark}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.goodsManager.domain.GmPromotionDO">
		update gm_promotion 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="oldDept != null">`old_dept` = #{oldDept}, </if>
			<if test="newDept != null">`new_dept` = #{newDept}, </if>
			<if test="promotionTime != null">`promotion_time` = #{promotionTime}, </if>
			<if test="noticeStatus != null">`notice_status` = #{noticeStatus}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="other != null">`other` = #{other}, </if>
			<if test="remark != null">`remark` = #{remark}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from gm_promotion where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from gm_promotion where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>