body{background-color: #f1f1f1;position: relative}
v-cloak{display: none}
*{font-size: 0.35rem;color: #666;}
.resgcontain{margin: 0.25rem;background-color: #fff;border-radius: 3px;padding: 0.2rem 0.25rem;}
.resgcontain .item{margin-bottom: 0.25rem;}
.publicIptSty{border:1px solid #E0E0E0; height: 1rem;border-radius: 3px;color: #666;text-indent: 0.2rem;}
.widthman{width: 100%;}
textarea.publicIptSty{resize: none;height: 80px;padding-top: 0.15rem;padding-left: 0rem;}
.fs12{font-size: 0.25rem;}
.nimpp{color: #999;padding-top: 0.2rem;}
.nimpp .icon{font-size: 0.3rem;margin-right: 0.05rem;margin-top: 0.1rem;color: darkred;}
.mb{margin-bottom: 0px !important;}
.shangpd{padding: 0.2rem 0.25rem;}
.resgSubmit{height: 1.1rem;font-size: 0.4rem;color: #fff;letter-spacing: 2px;background-color: #5FB878;margin-top: 0.3rem;}
.logobox{text-align: center;padding: 1rem 0rem 0.8rem 0rem;}
.logobox img{height: 2.5rem;}
.site-h1 {
	padding: 0.3rem;
    color: #393D49;
    border-bottom: 1px solid #eee;
    font-size: 0.45rem;
    font-weight: 300;
	text-align: center;
	margin-bottom: 0.4rem;
}
.cotpad{padding: 0rem 0.25rem;}
.posire{position: relative;margin-bottom: 0.25rem;}
.layui-field-title{margin: 0px;margin-bottom: 0.2rem;}
.layui-elem-field legend a{font-size: 0.4rem;color: #666;}
.layui-form-checkbox[lay-skin=primary]{padding-left: 20px;}
.layui-form-checkbox[lay-skin=primary] span{padding-right: 0px;}
.xieyihref{display: inline-block;vertical-align: middle;margin-top: 2px;}
.Noresg{text-align: center;color: #666;padding: 0.6rem;}
.Noresg a{color: #5FB878;}
.banner{position: relative;}
.shareIcon{position: absolute;right: 0.25rem;top: 0.2rem;font-size: 0.7rem;color: #000;width: 0.65rem;height: 0.65rem;text-align: center;}
.welcomeYu{padding: 0.25rem 0rem;font-size: 0.4rem;color: #666;}
.welcomeYu .icon{margin-right: 0.15rem;font-size: 0.4rem;color: #009688;}
.welcomeYu p{font-size: 0.3rem;padding-top: 0.1rem;}
.welcomeYu .layui-badge{vertical-align: top;margin-top: 0.1rem;margin-left: 0.1rem;}
.index_navIcon{width: 1.6rem;margin: 0 auto;text-align: center;padding-top: 0.2rem;}
.index_navIcon .icon{font-size: 0.8rem;color: #777;}
.index_navIcon .name{padding-top: 0.35rem;}
.icontit{font-size: 0.4rem;margin-bottom: 0.4rem;margin-top: 0.2rem;}
.icontit .icon{margin-right: 0.2rem;font-size: 0.5rem;color: #009688;}
.yunyingdata{text-align: center;margin-bottom: 0.25rem;}
.yunyingdata .data{font-size: 0.8rem;margin-bottom: 0.1rem;}
.yunyingdata .name{font-size: 0.35rem;}
.resgcontain .item .layui-form-label{padding: 0px;width: 4rem;}
.resgcontain .item .layui-form-item{margin-bottom: 0px;}

.resgcontain .item .layui-input-block{margin-left: 5rem;}
.resgcontain .item .layui-form-item .layui-form-checkbox[lay-skin=primary]{float: left;}
.layui-btn-danger{background-color: #5FB878;}
.layui-btn-danger .layui-icon{color: #fff;}


.index_navIcon .indexnavicon{color: #fff;padding: 0.2rem;border-radius: 0.2rem;}
.bgcolor1{background-color: #FF9500;}
.bgcolor2{background-color: #2DA9F7;}
.bgcolor3{background-color: #E071E0;}
.bgcolor4{background-color: #FF5555;}
.bgcolor5{background-color: #21D08D;}
.bgcolor6{background-color: #F47B6B;}
.bgcolor7{background-color: #FABF40;}
.bgcolor8{background-color: #55B073;}
.saomaiptbox{position: relative;}
.saomaiptbox .icon{position: absolute;right: 0.4rem;top: 0.15rem;z-index: 1;font-size: 0.6rem;color: #888;}
.tiaoxingmalist li span{background-color: #F1F1F1;padding: 0.1rem;border-radius: 0.1rem;color: #666;margin-right: 0.2rem;}
.chanpinnum span{font-size: 0.45rem;padding: 0 0.1rem;color: #FF5555;}
.num{color: #FF5555;font-size: 0.35rem;}

.color1{color: #009688;}
.xsBtn{height: 20px;line-height: 20px;margin-left: 0.2rem;}
.layui-layer-hui .layui-layer-content{color: #fff;}
.xiajitop{margin: 0.1rem 0rem 0.3rem 0rem;}
.xiajilist{border-bottom: 1px solid #DEDEDE;padding-bottom: 0.25rem;text-align: center;position: relative;}
.nameimg{width: 0.35rem;margin-right: 0.1rem;}
.textleft{text-align: left;}
.mbnum{margin-bottom: 0.2rem;}
.layui-form-label{padding: 9px 0px;color: #666;width: 50px;}
.layui-input-block{margin-left: 60px;}
.iptdisabled{border-color: #d2d2d2;color: #999}
.layui-input-disabled{
    border: 1px solid #e6e6e6;
    background-color: #FBFBFB;
}
.header,.header3{padding:15% 0px 2% 0px;background:#e8343d url(../img/new_year_icon5.png) no-repeat;width:100%;height:auto;overflow:hidden;background-size:100% auto;-webkit-background-size:100% auto;position:relative;}
.header3,.header-top{ padding:15% 0px;}
.header-main{ width:100%;}
.header-left{ width:100%;text-align:center;padding:40px 0px 0px 0px;}
.header-left h1{ color:#faeb6d; width:30%; margin:0px auto; padding-top:10px;}
.header-left h1 b{ display:block;float:left;text-align:center; width:75%;font-size:50px; line-height:50px; vertical-align:middle;color: #fff;white-space: nowrap;}
.header-left h1 span{ display:block;float:left;width:25%;font-size:18px;vertical-align:middle; text-align:left;}
.header-left p{ color:#ffffff; font-size:30px;line-height:36px; margin-top:20px;}
.header-right{ text-align:center}
.header-footer{ text-align:center;vertical-align:middle; margin-top:10%;  font-size:22px; color:#faeb6d}
.header-footer span{vertical-align:middle;}
.header-footer img{ vertical-align:middle; margin-right:5px; width:40px;}
.header-icon1{background:url(../img/new_year_icon6.png) no-repeat; width:150px; height:170px;background-size:100% 100%;-webkit-background-size:100% 100%; position:absolute; top:0px; left:0px; }
a.header-a1{position:absolute; top:15px; right:20px; color:#ffffff; font-size:14px;line-height:22px; text-decoration:underline;color: #fff}

.main1 .layui-btn{width: 130px;height: 50px;background-color: #fff;color: #e8343d;border: 2px solid #e8343d;border-radius: 5px;font-size: 18px;line-height: 50px;
    margin-top: 30px;
}
.pubfooter{width: 100%;height: 60px;background: #FBFBFB;position: fixed;bottom: 0px;left: 0px;z-index: 99999;box-shadow: 0 -2px 3px -1px #f1f1f1}
.tcenter{text-align: center}
.footnav{padding-top: 0.15rem; color: #333}
.footnav .footicon{font-size: 0.7rem;}
.footnav .name{font-size: 0.31rem;line-height: 0.25rem}
.footnav.active .footicon,.footnav.active .name{color: #FF5555}
#idata{padding-bottom: 2rem;}
