body{background-color: #f1f1f1}
*{font-size: 0.35rem;color: #666;}
.resgcontain{margin: 0.25rem;background-color: #fff;border-radius: 3px;padding: 0.2rem 0.25rem;}
.resgcontain .item{margin-bottom: 0.25rem;}
.publicIptSty{border:1px solid #E0E0E0; height: 1rem;border-radius: 3px;color: #666;text-indent: 0.2rem;}
.widthman{width: 100%;}
textarea.publicIptSty{resize: none;height: 80px;padding-top: 0.15rem;padding-left: 0rem;}
.fs12{font-size: 0.25rem;}
.nimpp{color: #999;padding-top: 0.2rem;}
.nimpp .icon{font-size: 0.3rem;margin-right: 0.05rem;margin-top: 0.1rem;color: darkred;}
.mb{margin-bottom: 0px !important;}
.shangpd{padding: 0.2rem 0.25rem;}
.resgSubmit{height: 1.1rem;font-size: 0.4rem;color: #fff;letter-spacing: 2px;background-color: #5FB878;margin-top: 0.3rem;}
.logobox{text-align: center;padding: 1rem 0rem 0.8rem 0rem;}
.logobox img{height: 2.5rem;}
.site-h1 {
	padding: 0.3rem;
    color: #393D49;
    border-bottom: 1px solid #eee;
    font-size: 0.45rem;
    font-weight: 300;
	text-align: center;
	margin-bottom: 0.4rem;
}
.cotpad{padding: 0rem 0.25rem;}
.posire{position: relative;margin-bottom: 0.25rem;}
.layui-field-title{margin: 0px;margin-bottom: 0.2rem;}
.layui-elem-field legend a{font-size: 0.4rem;color: #666;}
.layui-form-checkbox[lay-skin=primary]{padding-left: 20px;}
.layui-form-checkbox[lay-skin=primary] span{padding-right: 0px;}
.xieyihref{display: inline-block;vertical-align: middle;margin-top: 2px;}
.Noresg{text-align: center;color: #666;padding: 0.6rem;}
.Noresg a{color: #5FB878;}
.banner{position: relative;}
.shareIcon{position: absolute;right: 0.25rem;top: 0.2rem;font-size: 0.7rem;color: #000;width: 0.65rem;height: 0.65rem;text-align: center;}
.welcomeYu{padding: 0.25rem 0rem;font-size: 0.4rem;color: #666;}
.welcomeYu .icon{margin-right: 0.15rem;font-size: 0.4rem;color: #009688;}
.welcomeYu p{font-size: 0.3rem;padding-top: 0.1rem;}
.welcomeYu .layui-badge{vertical-align: top;margin-top: 0.1rem;margin-left: 0.1rem;}
.index_navIcon{width: 1.6rem;margin: 0 auto;text-align: center;padding-top: 0.2rem;}
.index_navIcon .icon{font-size: 0.8rem;color: #777;}
.index_navIcon .name{padding-top: 0.35rem;}
.icontit{font-size: 0.4rem;margin-bottom: 0.4rem;margin-top: 0.2rem;}
.icontit .icon{margin-right: 0.2rem;font-size: 0.5rem;color: #009688;}
.yunyingdata{text-align: center;margin-bottom: 0.25rem;}
.yunyingdata .data{font-size: 0.8rem;margin-bottom: 0.1rem;}
.yunyingdata .name{font-size: 0.35rem;}
.resgcontain .item .layui-form-label{padding: 0px;width: 4rem;}
.resgcontain .item .layui-form-item{margin-bottom: 0px;}

.resgcontain .item .layui-input-block{margin-left: 5rem;}
.resgcontain .item .layui-form-item .layui-form-checkbox[lay-skin=primary]{float: left;}
.layui-btn-danger{background-color: #5FB878;}
.layui-btn-danger .layui-icon{color: #fff;}


.index_navIcon .indexnavicon{color: #fff;padding: 0.2rem;border-radius: 0.2rem;}
.bgcolor1{background-color: #FF9500;}
.bgcolor2{background-color: #2DA9F7;}
.bgcolor3{background-color: #E071E0;}
.bgcolor4{background-color: #FF5555;}
.bgcolor5{background-color: #21D08D;}
.bgcolor6{background-color: #F47B6B;}
.bgcolor7{background-color: #FABF40;}
.bgcolor8{background-color: #55B073;}
.saomaiptbox{position: relative;}
.saomaiptbox .icon{position: absolute;right: 0.4rem;top: 0.15rem;z-index: 1;font-size: 0.6rem;color: #888;}
.tiaoxingmalist li span{background-color: #F1F1F1;padding: 0.1rem;border-radius: 0.1rem;color: #666;margin-right: 0.2rem;}
.chanpinnum span{font-size: 0.45rem;padding: 0 0.1rem;color: #FF5555;}
.num{color: #FF5555;font-size: 0.35rem;}

.color1{color: #009688;}
.xsBtn{height: 20px;line-height: 20px;margin-left: 0.2rem;}
.layui-layer-hui .layui-layer-content{color: #fff;}
.xiajitop{margin: 0.1rem 0rem 0.3rem 0rem;}
.xiajilist{border-bottom: 1px solid #DEDEDE;padding-bottom: 0.25rem;text-align: center;position: relative;}
.nameimg{width: 0.35rem;margin-right: 0.1rem;}
.textleft{text-align: left;}
.mbnum{margin-bottom: 0.2rem;}
.layui-form-label{padding: 9px 0px;color: #666;width: 50px;}
.layui-input-block{margin-left: 60px;}

