<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>代理订单</title>
	<link rel="shortcut icon" href="https://gtms04.alicdn.com/tps/i4/TB1_oz6GVXXXXaFXpXXJDFnIXXX-64-64.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="https://g.alicdn.com/thx/cube/1.3.2/cube.min.css">
	<link rel="stylesheet" href="/wjfh/css/iconfont.css">
	<link rel="stylesheet" type="text/css" href="/wjfh/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="/wjfh/layui/css/layui.css"/>
	<link rel="stylesheet" type="text/css" href="/wjfh/css/style.css"/>
	<script src="/wjfh/js/flexible.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="" id="dldd">
	<div class="resgcontain">
		<h1 class="site-h1">代理订单</h1>
		<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
			<ul class="layui-tab-title">
				<li><a href="/goodsManager/page/retail">零售发货</a></li>
				<li class="layui-this"><a href="/goodsManager/page/ddgl">代理订单</a></li>
			</ul>
			<div class="item"></div>

		</div>
	</div>
	<div class="resgcontain">
		<div class="saomaiptbox">
			<input type="text" class="publicIptSty widthman" id="" value="" placeholder="代理商昵称" readonly="readonly"/>
			<span class="icon iconfont">&#xe602;</span>
		</div>
	</div>

	<div class="resgcontain  layui-form" v-for="(dldds,key) in dldd" v-if="dldds.type != 1">
		<div class="item">
			<div class="dingdantop layui-row">
				<div class="layui-col-xs5">收货人:{{dldds.name}}</div>
				<div class="layui-col-xs7" v-for="(dlddss,index) in dldds.data" v-if="index<1">下单时间:{{dlddss.orderTime}}</div>
			</div>
		</div>
		<div class="item dingdancot mb">
			<div class="dingdantop layui-row item" v-for="(dlddss,index) in dldds.data">
				<div class="layui-col-xs6">{{dlddss.goodsName}}</div>
				<div class="layui-col-xs6"><span class="num">×{{dlddss.goodsNum}}</span></div>
			</div>
			<div class="dingdantop layui-row item mb">
				<div class="layui-col-xs12">总金额<span class="num">￥{{dldds.money}}</span>
					<div class="layui-layout-right">
						<!--:class="layui-btn-disabled"-->
						<button type="button" class="layui-btn layui-btn-xs layui-btn-danger" v-if="dldds.type == 2">
							<a :href="'/goodsManager/page/fahuo?goodsCode='+key">去发货</a>
						</button>
						<button type="button" class="layui-btn layui-btn-xs layui-btn-disabled" v-if="dldds.type == 3">已发货</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	

	
	<script src="/wjfh/layui/layui.js" type="text/javascript" charset="utf-8"></script>
	<script src="/wjfh/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/wjfh/js/axios.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/jquery.min.js?v=2.1.4" th:src="@{/js/jquery.min.js?v=2.1.4}"></script>
	<script>
        var idata = new  Vue({
            el:"#dldd",
            data:{
                dldd:{}
            },
            methods:{

            },
            mounted:function () {

                layui.use(['jquery', 'form','layer'], function() {
                    $ = layui.jquery,
                        form = layui.form,
                        layer = layui.layer;
                    layer.load(1);
                    $.ajax({
                        cache: true,
                        type: "POST",
                        url: "/goodsManager/gmOrder/getOrder",
                        error : function(request) {
                            layer.alert("Connection error");
                        },
                        success : function(data) {

                            idata.dldd = data;
                            console.log(data);
                            layer.closeAll('loading');
                        }
                    });

                })
            }
        })
	</script>
</html>
