<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>我要进货</title>
	<link rel="shortcut icon" href="https://gtms04.alicdn.com/tps/i4/TB1_oz6GVXXXXaFXpXXJDFnIXXX-64-64.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="https://g.alicdn.com/thx/cube/1.3.2/cube.min.css">
	<link rel="stylesheet" href="css/iconfont.css">
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	<link rel="stylesheet" type="text/css" href="layui/css/layui.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<script src="js/flexible.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="resgcontain layui-form">
		<h1 class="site-h1">我要发货-零售出货</h1>
		<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
			<ul class="layui-tab-title">
				<li class="layui-this">零售出货</li>
				<li><a href="">代理订单</a></li>
			</ul>
			<div class="item"></div>
			<div class="item">
				<select name="city" lay-verify="">
					<option>请选择产品</option>
					<option value="0" >产品AAA(剩余10)</option>
					<option value="1" disabled>产品BBB(剩余0)</option>
				</select>    
			</div>
			<div class="item">
					<div class="saomaiptbox">
						<input type="text" class="publicIptSty widthman" id="" value="" placeholder="商品条形码" readonly="readonly"/>
						<span class="icon iconfont">&#xe68c;</span>
					</div>
			</div>
			<div class="item">
				<textarea class="publicIptSty widthman" placeholder="条形码" readonly="readonly">95654451545,95654451545,95654451545,95654451545</textarea>
			</div>
			<div class="item">
				 <div class="chanpinnum">
					 <ul>
					 	 <li>已选择产品AAA:<span>5</span>件</li>
						 <li>已选择产品BBB:<span>2</span>件</li>
					 </ul>
				 </div>
			</div>
			<div class="item">
					<input type="text" class="publicIptSty widthman" id="" value="" placeholder="运单编号,没有请填无" readonly="readonly"/>
			</div>
		</div>      
	</div>


	<div class="shangpd">
		<button class="layui-btn layui-btn-fluid resgSubmit">确认出货</button>
	</div>
	<script src="layui/layui.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		layui.use(['form', 'layedit', 'laydate','upload'], function(){
		  var form = layui.form
		  ,layer = layui.layer
		  ,layedit = layui.layedit
		  ,upload = layui.upload
		  ,laydate = layui.laydate;
		    //设定文件大小限制
			  upload.render({
				elem: '#test7'
				,url: '/upload/'
				,size: 60 //限制文件大小，单位 KB
				,done: function(res){
				  console.log(res)
				}
			  });
		 });
	</script>
</html>
