<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>首页</title>
	
	<link rel="stylesheet" href="css/iconfont.css">
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	<link rel="stylesheet" type="text/css" href="layui/css/layui.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<script src="js/flexible.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	
	<div class="resgcontain">
		<div class="banner">
			<img src="img/banner.jpg" >
			<span class="shareIcon icon iconfont">&#xe69e;</span>
		</div>
		<div class="welcomeYu">欢迎您！代理商A <span class="layui-badge layui-bg-orange">经销商</span>
			<p><!-- <span class="icon iconfont">&#xe61f;</span> -->这里是公告，这里是公告，这里是公告，这里是公告，这里是公告，这里是公告，</p>
		</div>
	</div>
	<div class="resgcontain">
		<div class="layui-row">
			<div class="layui-col-xs3 mbnum">
				<div class="index_navIcon">
					<span class="icon iconfont indexnavicon bgcolor1">&#xe651;</span>
					<div class="name">我要发货</div>
				</div>
			</div>
			<div class="layui-col-xs3 mbnum">
				<div class="index_navIcon">
					<span class="icon iconfont indexnavicon bgcolor2">&#xe600;</span>
					<div class="name">我要进货</div>
				</div>
			</div>
			<div class="layui-col-xs3 mbnum">
				<div class="index_navIcon">
					<span class="icon iconfont indexnavicon bgcolor3">&#xe601;</span>
					<div class="name">订单管理</div>
				</div>
			</div>
			<div class="layui-col-xs3 mbnum">
				<div class="index_navIcon">
					<span class="icon iconfont indexnavicon bgcolor4">&#xe63d;</span>
					<div class="name">查看库存</div>
				</div>
			</div>
			<div class="layui-col-xs3">
				<div class="index_navIcon">
					<span class="icon iconfont indexnavicon bgcolor5">&#xe623;</span>
					<div class="name">我的业绩</div>
				</div>
			</div>
			<div class="layui-col-xs3">
				<div class="index_navIcon">
					<span class="icon iconfont indexnavicon bgcolor6">&#xe608;</span>
					<div class="name">我的奖励</div>
				</div>
			</div>
			<div class="layui-col-xs3">
				<div class="index_navIcon">
					<span class="icon iconfont indexnavicon bgcolor7">&#xe66d;</span>
					<div class="name">邀请好友</div>
				</div>
			</div>
			<div class="layui-col-xs3">
				<div class="index_navIcon">
					<span class="icon iconfont indexnavicon bgcolor8">&#xe66b;</span>
					<div class="name">我要升级</div>
				</div>
			</div>
		</div>
	</div>
	<div class="resgcontain">
		<div class="icontit"><span class="icon iconfont">&#xe653;</span>运营数据</div>
		<div class="layui-row">
			<div class="layui-col-xs4 yunyingdata">
				<div class="data">10</div>
				<div class="name">订单总数</div>
			</div>
			<div class="layui-col-xs4 yunyingdata">
				<div class="data">80</div>
				<div class="name">已获得奖励</div>
			</div>
			<div class="layui-col-xs4 yunyingdata">
				<div class="data">8</div>
				<div class="name">我的下级</div>
			</div>
			<div class="layui-col-xs4 yunyingdata">
				<div class="data">52</div>
				<div class="name">我的库存</div>
			</div>
		</div>
	</div>
</body>
</html>
