<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>登录</title>
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	<link rel="stylesheet" type="text/css" href="layui/css/layui.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<script src="js/flexible.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	
	<div class="resgcontain">
		<h1 class="site-h1">欢迎登录 — </h1>
		<!-- <div class="logobox"><img src="img/logo.png" ></div> -->
		<div class="item">
			<input type="text" class="publicIptSty widthman" id="" value="" placeholder="手机号" />
		</div>
		<div class="item">
			<input type="text" class="publicIptSty widthman" id="" value="" placeholder="密码" />
		</div>
	</div>
	<div class="shangpd">
		<button class="layui-btn layui-btn-fluid resgSubmit">登录</button>
	</div>
	<div class="Noresg">没有账号？<a href="">立即注册</a></div>
	<script src="layui/layui.js" type="text/javascript" charset="utf-8"></script>
	
</body>
</html>
